<%= render 'search/form', text: params[:text], back_path: cookies[:back_path] %>

<% if @items.present? && @items.count.positive? %>
  <div class="items" id='items_container'>
    <%- @items.each do |item| %>
      <%= render 'item', item: item %>
    <%- end %>
  </div>
<% else %>
  <% unless params[:text].nil? %>
    No results
  <% end %>
<% end %>

<script>
  let nextPage = 2;
  let totalPage = <%= @total_pages %>;
  let isCalling = false;

  function callback(body) {
    let element = document.createElement('div');
    element.innerHTML = body;
    document.getElementById('items_container').append(element);
    nextPage += 1;
    if (nextPage <= totalPage) {
      isCalling = false;
    }
  }

  function listen() {
    height = document.documentElement.offsetHeight,
		scrollingElement = document.scrollingElement || document.documentElement;
    offset = scrollingElement.scrollTop + window.innerHeight;

    if (!isCalling && offset >= height - 200) {
      isCalling = true;
      lm.utils.callAjax(`/search.js?text=<%= params[:text] %>&page=${nextPage}`, callback);
    }
  }

  window.onload = function () {
    window.addEventListener("scroll", listen);
  };
</script>
