<div class="sign-in" >
  <%= image_tag Setting.site_logo, class: 'sign-in__logo' %>

  <div class="sign-in__actions">
    <div class="sign-in__action">
      <%= render "devise/shared/sign_in_btn" %>
    </div>
  </div>
</div>
