<li class="item">
  <%= link_to(admin_item_path(item)) do %>
    <% if item.has_image? %>
      <%= image_tag item.image_urls[:thumb], class: "item__image" %>
    <% end %>
    <span class="item__name"><%= item.name %></span>
    <br/>
    <span class="item__price"><%= number_to_currency(item.price) %></span>
  <% end %>
</li>
