svg.icon {
  width: 1em;
  height: 1em;

  display: inline-block;
  vertical-align: middle;
}

.icon.m--clickable {
  fill: $gray-medium;

  &:hover {
    fill: darken($gray-medium, 10%);
  }

  &:active {
    fill: darken($gray-medium, 20%);
  }
}


