<% if errors.any? %>
  <div class="b-errors">
    <div class="b-errors__title">
      <%= pluralize(errors.count, "error") %> caused a problem:
    </div>

    <ul class="b-errors__list">
    <% errors.full_messages.each do |message| %>
      <li class="b-errors__item"><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
