@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "refills/maps";

body {
  background: $base-background-color;
  -webkit-font-smoothing: antialiased;
}

#navbar,
#main {
  @include outer-container;
  max-width: 25em;
}


header#navbar {
  line-height: 32px;
  vertical-align: baseline;

  h2 {
    display: inline-block;
  }

  p {
    line-height: 32px;
    float: right;

    img {
      width: 32px;
      border-radius: 3px;
      vertical-align: middle;
    }
  }

}

footer#notifications {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .notice,
  .alert {
    max-width: 25em;
    margin: 0 auto;
  }
}


#main {
}

.b-event-form {

  #map_canvas {
    margin-bottom: 0.75em;
  }

  &__actions {
    text-align: center;

    input {
      background-color: $dark-gray;
    }
  }

}

.b-finish-signup {

  &__description {
  }

  &__field {

  }

  &__help {
    margin-top: -0.75em;
    color: $medium-gray;
    font-size: 0.9em;
    margin-bottom: 0.75em;
  }

  &__actions {
    text-align: center;

    input {
      background-color: $dark-gray;
    }
  }

}

.b-errors {

}

.b-call-to-action {
  text-align: center;

  &__post {
    margin: 1em 0;
    background-color: $dark-gray;
  }

  // https://css-tricks.com/circular-3d-buttons/
  &__enter {
    display: inline-block;

    background-color: #f7f7f7;
    @include background-image(
      linear-gradient(to bottom, #f7f7f7, #e7e7e7)
    );

    color: #a7a7a7;
    margin: 36px;
    width: 144px;
    height: 144px;
    position: relative;
    text-align: center;
    line-height: 144px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    text-decoration: none;

    &:hover {
      color: #555;
    }

    &:active,
    &:visited {
      color: #555;
      background: #f5f5f5;
    }

    &:before {
      content: "";
      display: block;
      background: #fff;
      border-top: 2px solid #ddd;
      position: absolute;
      top: -18px;
      left: -18px;
      bottom: -18px;
      right: -18px;
      z-index: -1;
      border-radius: 50%;
      box-shadow: inset 0px 8px 48px #ddd;
    }
  }
}
