# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base:

facebook:
  app_id:
  app_secret:

cloudinary:
  cloud_name: demo
  api_key:
  api_secret:

google:
  maps_api_key:
  tracking_id:

  cloud_sql_username:
  cloud_sql_password:
  cloud_sql_connection_name:

  storage_service_account: '{ }'
