<% if @items.count.positive? %>
  <h4>
    <%= t('lm.text.newest_items', default: 'Newest items') %>
  </h4>
  <div class="newest-items" id="newest-items">
    <%= render partial: 'item', collection: @items %>
  </div>
<% end %>
