<% if @items.count.positive? %>
  <div class='newest-items__header'>
    <%= t('lm.text.newest_items', default: 'Newest items') %>
  </div>
  <div class="newest-items" id="newest-items">
    <%= render partial: 'item', collection: @items %>
  </div>
<% end %>
