<%= link_to 'Back', location_path(@location) %>

<div id="map_canvas" class="m--reminder"></div>
<script>
  lm.utils.ready(function() {
    var loc = <%= @location.to_json.html_safe %>;

    var map = new lm.Map();
    map.placeLocation(loc, { info: false, panTo: true });
  });
</script>

<%= render 'form',
  location: @location,
  item: @item,
  action_label: "Create" %>
