.chat-info {
  margin-bottom: 0.75rem;

  &__name {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  &__description {
    margin-bottom: 1rem;
  }
}

.chat-links {

  // TODO: move this out to be chat-links
  // instead of chat-links__link... too verbose :-P
  &__link {
    margin-bottom: 0.75rem;
    clear: both;
  }

  &__icon {
    font-size: 2rem;
    margin-right: 0.33rem;
  }
}
