.item-info {
  &__name {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  &__price {
    float: right;
  }

  &__description {
    margin-bottom: 1rem;
  }
}

.search-items {
}

.search-item {
  padding: 5px 10px;
  width: 100%;
  color: #000;
  font-size: 12px;
  display: inline-flex;

  &__image {
    width: 70px;
    height: 70px;
    padding: 0;
    position: relative;
    margin-right: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    width: calc(100% - 130px);
    padding-right: 10px;
    margin: auto;

    &__price {
      color: #9bbd65;
    }

    &__name {
      margin-bottom: 5px;
    }
  }

  &__distance {
    margin: auto;
    width: 50px;
    color: #999;
    text-align: right;
  }
}

.newest-items {
  overflow-x: auto;
  white-space: nowrap;

  &__header {
    margin-bottom: 10px;
  }
}

.newest-item {
  width: 110px;
  height: 170px;
  color: #000;
  font-size: 12px;
  display: inline-block;
  border: 1px solid #eee;
  margin-right: 8px;
  background: #fff;

  &__image {
    padding: 0;
    margin: auto;
    text-align: center;

    img {
      width: 110px;
      height: 100px;
      object-fit: cover;
    }
  }

  &__content {
    text-align: center;

    &__name {
      height: 36px;
      overflow: hidden;
      white-space: initial;
      margin-bottom: 5px;
      padding: 0 5px;
    }
  }

  &__distance {
    margin: auto;
    color: #999;
    text-align: center;
  }
}
