.item-info {
  &__name {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  &__price {
    float: right;
  }

  &__description {
    margin-bottom: 1rem;
  }
}

.search-items {
}

.search-item {
  padding: 5px 10px;
  width: 100%;
  color: #000;
  font-size: 12px;
  display: inline-flex;

  &__image {
    width: 70px;
    height: 70px;
    padding: 0;
    position: relative;
    margin-right: 10px;
  }

  &__content {
    width: calc(100% - 130px);
    padding-right: 10px;
    margin: auto;

    &__price {
      color: #9bbd65;
    }

    &__name {
      margin-bottom: 5px;
    }
  }

  &__distance {
    margin: auto;
    width: 50px;
    color: #999;
    text-align: right;
  }
}

.newest-item {
  padding: 5px;
  width: 130px;
  height: 200px;
  color: #000;
  font-size: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 0 5px;
  background: #fff;

  &__image {
    padding: 0;
    margin: 10px auto;
    text-align: center;

    img {
      width: 85px;
      height: 85px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__content {
    text-align: center;

    p {
      margin-bottom: 0px;
    }

    &__price {
      color: #9bbd65;
    }

    &__name {
      height: 36px;
      overflow: hidden;
    }
  }

  &__distance {
    margin: auto;
    width: 50px;
    color: #999;
    text-align: right;
  }
}
