form.search-bar {
  input {
    float: left;
    width: 100%;
    background: #f1f1f1;
  }

  button:hover {
    background: #0b7dda;
  }

  /* Clear floats */
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.search-bar-container {
  @media (max-width: 768px) {
    display: none;
  }
}
