.sign-in {
  text-align: center;

  &__actions {
    float: left;
    margin-left: 20px;
    line-height: 150px;
  }

  &__action {
    margin: auto;
  }

  &__logo {
    height: 100px;
    float: left;
  }
}
