.sign-in {
  text-align: center;
  margin-top: 2rem;

  $logo-height: 10rem;

  &__actions {
    float: left;
    margin-left: 2rem;
    line-height: $logo-height;
  }

  &__action {
    margin: auto;
  }

  &__logo {
    height: $logo-height;
    float: left;
  }
}
