/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bourbon';
@import 'base/base';

@import 'maps';
@import 'location';
@import 'item';
@import 'markdown';
@import 'chat';

html {
  background: whitesmoke;
  margin: 8px;
}

body {
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

form {
  .field {
    margin-bottom: 0.75rem;
  }

  .field__thumb {
    max-width: 8rem;
  }

  .help {
    margin-top: -0.75rem;
    color: $gray-medium;
    font-size: 0.9rem;
    display: block;
    margin-bottom: 0.75rem;
  }

  .actions {
    text-align: center;
    margin-bottom: 0.75rem;

    input {
      background-color: $gray-dark;
    }
  }
}

#error_explanation {
  color: $red-dark;

  p {
    margin-bottom: 0;
  }
  ul {
    margin-bottom: 0.75rem;
  }
}

header#navbar {
  line-height: 32px;
  margin-bottom: 1rem;
  vertical-align: baseline;

  h2 {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 0.75rem;
  }

  p {
    line-height: 32px;
    float: right;
    margin: 0;

    img {
      width: 32px;
      height: 32px;
      border-radius: 3px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

footer#notifications {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #444;

  .notice,
  .alert {
    max-width: 25rem;
    margin: 0 auto;
    text-align: center;
  }
}

#main {
}

.b-devise-shared-links {
  margin-top: 2rem;
}

.b-call-to-action {
  text-align: center;

  &__post {
    margin: 1rem 0;
    background-color: $gray-dark;
  }
}
