
- if user_signed_in?
  #map_canvas

  javascript:
    setTimeout(function(){
      var events = #{@events.to_json.html_safe};
      placeEvents(events);
    }, 500);

  .b-call-to-action
    a.b-call-to-action__post.b-btn(href=new_event_path) Post your event!

- else

  .b-call-to-action
    a.b-call-to-action__enter(href=user_omniauth_authorize_path(:facebook)) Enter

  p They say dumb it down, or stay underground...
