<div id="map_canvas" class="m--full"></div>

<div id='items_container'></div>

<script>
  lm.utils.ready(function() {
    var center = <%= Setting.map_center.to_json.html_safe %>;
    var map = new lm.Map(center);
    var latestCoordinate = <%= @latest_coordinate.to_json.html_safe %>
    var currentUserId = <%= @current_user&.id.to_json.html_safe %>

    map.setCurrentPosition({ latestCoordinate: latestCoordinate, currentUserId: currentUserId });
    map.addLocationButton();

    var locations = <%= @locations.to_json.html_safe %>;
    map.placeLocations(locations);
    map.placeLocationsInBounds();
  });
</script>

