<div id="map_canvas" class="m--full"></div>

<div id='items_container'></div>

<script>
  lm.utils.setViewportHeight();

  lm.utils.ready(function() {
    var center = <%= Setting.map_center.to_json.html_safe %>;
    var map = new lm.Map(center);
    var latestCoordinate = <%= @latest_coordinate.to_json.html_safe %>
    var currentUserId = <%= @current_user&.id.to_json.html_safe %>

    map.allocateUserCoordinate({ latestCoordinate: latestCoordinate, currentUserId: currentUserId, callback: map.pullNewestItems });
    map.addLocationButton();

    var locations = <%= @locations.to_json.html_safe %>;
    map.placeLocations(locations);
    map.placeLocationsInBounds();
  });
  window.addEventListener('resize', () => {
    lm.utils.setViewportHeight();
  });
</script>

