doctype html
html( lang=I18n.locale )
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="google-site-verification" content="4kjFHmNsbLyk3ZyRrcoEQO8YVSEazsjr0_q5ipoTQC0")

    title location machine

    = stylesheet_link_tag 'application', media: 'all'

    = render 'shared/testing'
    = render 'shared/tracking'

    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}"
    = javascript_include_tag 'application'

  body

    header#navbar
      h2= link_to "location machine", root_path

      - if user_signed_in?
        p
          - if current_user.avatar_url?
            img(src=current_user.avatar_url)
          = " #{current_user.name} "
          = link_to "exit", destroy_user_session_path

    #main
      = yield

    footer#notifications
      p.notice= notice
      p.alert= alert

